@model EventMaker.Web.ViewModels.ChangePasswordViewModel

@{ ViewData["Title"] = string.Format(PageTitlesResource.StringFormat, PageTitlesResource.AccountChangePassword, PageTitlesResource.SiteName); }


<form class="change-password-form" method="post" asp-action="ChangePassword" asp-controller="Account">
    <div asp-validation-summary="All" class="text-danger"></div>

    <h2>Change password for user: @User.Identity.Name.</h2>

    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="Email" />
    <div class="form-group">
        <label asp-for="OldPassword" class="control-label">Старый пароль</label>
        <input type="text" asp-for="OldPassword" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="NewPassword" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPassword" class="form-control" />
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>
    <div class="form-group">
        <label asp-for="NewPasswordConfirm" class="control-label">Новый пароль</label>
        <input type="text" asp-for="NewPasswordConfirm" class="form-control" />
        <span asp-validation-for="NewPasswordConfirm"></span>
    </div>
    <div class="change-password-form-submit">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>

@section css {
    <link href="~/css/changePassword.css" rel="stylesheet" asp-append-version="true" />
}
