@model SignUpViewModel

@{ ViewData["Title"] = "Sign up page"; }

<div class="wrapper">
    <h2 class="wrapper__header">Sign up Here</h2>
    <form class="wrapper-form">
        <div class="wrapper-form__email">
            <input class="wrapper-form__input-email" spellcheck="false" type="text" name="Email" asp-for="Email" required />
            <label for="Email" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Email</span>
            </label>
        </div>
        <div class="wrapper-form__username">
            <input class="wrapper-form__input-username" spellcheck="false" type="text" name="Username" asp-for="Username" required />
            <label for="Email" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Username</span>
            </label>
        </div>
        <div class="wrapper-form__password">
            <input class="wrapper-form__input-password" spellcheck="false" type="password" name="Password" asp-for="Password" required />
            <label for="Email" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Password</span>
            </label>
        </div>
        <div class="wrapper-form__password-confirm">
            <input class="wrapper-form__input-password-confirm" spellcheck="false" type="password" name="Password-confirm" asp-for="PasswordConfirm" required />
            <label for="Email" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Password-confir</span>
            </label>
        </div>
        <div class="wrapper-form__submit">
            <input class="wrapper-form__submit" type="submit" value="Sign Up" required />
        </div>
    </form>
</div>

@section css {
    <link href="~/css/signUp.css" rel="stylesheet"/>
}