@model SignUpViewModel

@{
    ViewData["Title"] = string.Format(PageTitlesResource.StringFormat, PageTitlesResource.AccountRegister, PageTitlesResource.SiteName);
}

<div class="wrapper">
    <h2 class="wrapper__header">Sign up Here</h2>
    <form method="post" class="wrapper-form" asp-controller="Account" asp-action="SignUp">
        <div class="wrapper-form__email">
            <input class="wrapper-form__input-email" spellcheck="false" type="email" asp-for="Email" required />
            <label for="Email" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Email</span>
            </label>
        </div>
        <div class="wrapper-form__username">
            <input class="wrapper-form__input-username" spellcheck="false" type="text" asp-for="Username" required />
            <label for="Username" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Username</span>
            </label>
        </div>
        <div class="wrapper-form__password">
            <input class="wrapper-form__input-password" spellcheck="false" type="password" asp-for="Password" required />
            <label for="Password" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Password</span>
            </label>
        </div>
        <div class="wrapper-form__password-confirm">
            <input class="wrapper-form__input-password-confirm" spellcheck="false" type="password" asp-for="PasswordConfirm" required />
            <label for="PasswordConfirm" class="wrapper-form__label">
                <span class="wrapper-form__label-content">Confirm Password</span>
            </label>
        </div>
        <div class="wrapper-form__submit">
            <input class="wrapper-form__input-submit" type="submit" value="Sign Up" required />
        </div>
    </form>
</div>

@section css {
    <link href="~/css/signUp.css" rel="stylesheet" asp-append-version="true"/>
}