@model EventDeleteViewModel

<h1>Delete event page</h1>
<br />
@User.Identity.Name
<br />
<form method="post" asp-controller="Event" asp-action="DeleteEvent">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
    </div>
    <br/>
    <span>Or</span>
    <br />
    <div>
        <label asp-for="Title"></label><br />
        <input asp-for="Title" />
    </div>
    <div>
        <input type="submit" value="Delete" />
    </div>
</form>