@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Mulish", sans-serif;
}

a,
button,
.navigation__sign-out-input {
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
}

.navigation__sign-out-input {
    outline: none;
    border: none;
}

header {
    height: 73.78px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom-style: solid;
    border-bottom-color: #E2E6ED;
    border-bottom-width: 1px;
}

.logo {
    margin-left: 40px;
    margin-right: auto;
}

.navigation__sign-up,
.navigation__sign-out {
    height: 100%;
    padding: 25px 67.73px 28.78px 68.9px;
    margin-left: 46.71px;
    background-color: #2E2E2E;
    cursor:pointer;
}

.navigation__log-in {
    background-color: #ffffff;
}

.navigation__sign-up-button,
.navigation__sign-out-input {
    font-weight: bold;
    line-height: 20px;
    color: #FFFFFF;
    background-color: #2E2E2E;
    cursor: pointer;
}

.navigation__log-in-button {
    font-weight: bold;
    line-height: 20px;
    color: rgba(46, 46, 46, 1);
}