label {
    display: block;
    margin-top: 30px;
}

input {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 12px 20px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 300px;
}

.change-password-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px;
}

.change-password-form-submit {
    margin-top: 30px;
}
