[type="date"] {
    background: #fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png) 97% 50% no-repeat;
}

    [type="date"]::-webkit-inner-spin-button {
        display: none;
    }

    [type="date"]::-webkit-calendar-picker-indicator {
        opacity: 0;
    }

textarea {
    min-height: 89px;
    max-height: 250px;
    min-width: 300px;
    max-width: 454px;
}

label {
    display: block;
    margin-top: 30px;
}

input, select, textarea {
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    background-color: #fff;
    padding: 12px 20px;
    box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);
    width: 300px;
}

.create-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin: 30px;
}

.create-form__submit-input {
    margin-top: 30px;
}