.fa-plus-square {
    font-size: 28px;
    font-style: inherit;
    margin-right: 15px;
}

.main-wrapper {
    display: flex;
    justify-content: space-between;
}

.homepage-left {
    margin-left: 70.07px;
}

.page-number {
    position: absolute;
    bottom: 0px;
    width: 100%;
    text-align: center;
}

.event-container-event {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 725.19px;
    height: 86.74px;
    margin-bottom: 29.91px;
    border-bottom-style: solid;
    border-bottom-color: #E2E6ED;
    border-bottom-width: 2px;
}

.homepage-forms {
    display: flex;
    justify-content: space-between;
}

.homepage-filter {
    height: 45px;
    max-width: 500px;
    border-radius: 45px;
    background: #2E2E2E;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

    .homepage-filter:hover > .homepage-filter__name {
        width: 200px;
    }

.homepage-filter__name:focus {
    width: 200px;
}

.homepage-filter:hover > .homepage-filter__format,
.homepage-filter:hover > .homepage-filter__nameoption {
    display: inherit;
}

.homepage-filter__name {
    border: none;
    background: none;
    outline: none;
    transition: 0.6s;
    color: #FFFFFF;
    line-height: 25px;
    width: 0px;
    border-radius: 5px;
    cursor: pointer;
}

.homepage-filter__nameoption {
    display: none;
    border: none;
    background: none;
    color: #FFFFFF;
}

.homepage-filter__format {
    display: none;
    color: #FFFFFF;
    border: none;
    background: none;
    border-radius: 5px;
    margin-left: 10px;
}

.homepage-quicksearch__filterbutton {
    border-radius: 50%;
    color: #FFFFFF;
    height: 30px;
    width: 30px;
    background: #2E2E2E;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: 0.4s;
}

.event-buttons {
    width: 404.05px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 87.74px 70.07px 0px 129.62px;
}

.event-buttons__create {
    background: #2E2E2E;
    border: none;
    color: #FFFFFF;
    border-radius: 3px;
    margin: 89.73px 23.36px 29.91px 23.36px;
    width: 294.28px;
    height: 77.77px;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
}

    .event-buttons__create:hover {
        border: solid 2px;
        transition: all 0.6s ease;
        color: #2E2E2E;
        background: #FFFFFF;
    }

    .event-buttons__create p {
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 23px;
    }

.event-list__name {
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 28px;
    color: #2E2E2E;
    text-decoration: none;
}

.event-list__info {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #2E2E2E;
}

.homepage-eventowner {
    font-style: normal;
    font-weight: bold;
    font-size: 34px;
    line-height: 43px;
    color: #2E2E2E;
    margin-top: 18.42px;
}

.homepage-events {
    display: flex;
    height: 39.88px;
    width: 144.8px;
    margin-top: 27.92px;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color: #2E2E2E;
}

    .homepage-events span {
        margin: 0px 6.13px 0px 5.84px;
    }

.homepage-quicksearch {
    display: flex;
    width: 790px;
    white-space: nowrap;
    margin-top: 31.3px;
    margin-bottom: 49.85px;
}

.homepage-quicksearch__alleventsbutton {
    width: 100.39px;
    height: 45.39px;
    border: none;
    margin-right: 21.02px;
    background: #2E2E2E;
    box-shadow: 0px 2px 12px -4px rgba(46, 46, 46, 0.507785);
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

    .homepage-quicksearch__alleventsbutton:hover {
        border: solid 2px;
        transition: all 0.6s ease;
        color: #2E2E2E;
        background: #FFFFFF;
    }

.homepage-quicksearch__myevents:hover {
    border: solid 2px;
    transition: all 0.6s ease;
    color: #2E2E2E;
    background: #FFFFFF;
}

.homepage-quicksearch__myevents {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: central;
    text-decoration: none;
    width: 100.39px;
    height: 45.39px;
    border: none;
    margin-right: 21.02px;
    background: #2E2E2E;
    box-shadow: 0px 2px 12px -4px rgba(46, 46, 46, 0.507785);
    border-radius: 3px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.homepage-quicksearch__all-my-form {
    display: flex;
    flex-direction: row;
}

.page-navigation {
    text-align: center;
    font-size: 24px;
    list-style-type: none;
}

    .page-navigation li {
        display: inline;
        margin-right: 10px;
    }