.event-buttons {
    display: flex;
    position:absolute;
    flex-direction:column;
    margin: 50px 50px 50px 50px;
    padding: 50px 50px;
    width: 30%;
    top:20%;
    right:0%;
}

.event-buttons button{
    margin: 30px 40px;
    padding:20px 70px; 
    border:none;
    border-radius:8px;
    cursor:pointer;
    display:flex;
    justify-content:center;
    align-items:center;
}

    .event-buttons button:hover {
        background-color: #2E2E2E;
        color: #FFFFFF;
        transition: 0.6s ease;
    }
