.fa-edit{
    margin-right:5px;
}

.fa-edit::before {
    width: 25px;
    height: 25px;
}
.main-wrapper {
    width: 1012px;
    margin: 0 auto;
}

.profile-wrapper{
    margin-left:60px;
    margin-right:60px;
}

.profile-top {
    display: flex;
    justify-content: space-between;
    width: 892px;
    height: 100%;
    border-bottom-style:solid;
    border-bottom-width: 1px;
    border-bottom-color: #E2E6ED;
}

.profile-choose{
    display:flex;
    margin-top:20px;
}

.profile-bottom{
    display:flex;
    justify-content:space-between;
    margin-top:36px;
}

.profile-about{
    display:flex;
    justify-content:space-between;
    margin-top:47px;
}

.profile-bottom__info {
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #2E2E2E;
    height: 25px;
}

.profile-bottom__date {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.685714px;
    height: 20px;
}


.profile-choose__info {
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    display: block;
    margin-right: 20px;
    opacity: 0.7;
    cursor: pointer;
}

.profile-choose__info:active {
    color: #2E2E2E;
    opacity:initial;
}

.profile-choose__info:hover {
    color: #2E2E2E;
      opacity:initial;
}

.profile-choose__events:active {
    color: #2E2E2E;
    opacity: initial;
}

.profile-choose__events:hover {
    color: #2E2E2E;
    opacity: initial;
}

.profile-choose__events {
    display: block;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    opacity: 0.7;
    cursor: pointer;
}

.profile-top__left {
    display: flex;
    justify-content: space-between;
}

.profile-top__right {
    width: 121px;
    height: 54px;
    margin: 89px 0px 59px 0px;
}

.profile-top__right-button {
    text-align: center;
    border:none;
    border-radius:2px;
    width: 100%;
    height: 100%;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    background-color:#2E2E2E;
    cursor:pointer;
}


.profile-top__right-button:hover{
    border:solid;
    border-color:#2E2E2E;
    border-width:2px;
    background-color:#FFFFFF;
    transition: 0.3s all;
    color: #2E2E2E;
}

.profile-top__contacts {
    width: 179px;
    height: 58px;
    margin: 87px 465px 57px 0px;
}

.profile-top__icon{
    margin:60px 15px 30px 0px;
}

.profile-top__icon-username {
    font-size: 26px;
    font-weight: bold;
    line-height: 33px;
}

.profile-top__icon-social {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.6px;
    color: #2E2E2E;
}

.profile-top__icon-image {
    width: 112px;
    height: 112px;
    border-radius: 50%;
}