@{
    ViewData["Title"] = "Index page";
}


<h1>Index page</h1>
<a asp-controller="Account" asp-action="SignUp">Sign Up</a>
<a asp-controller="Account" asp-action="SignIn">Sign In</a>

@if (User.Identity.IsAuthenticated)
{
    <p>@User.Identity.Name</p>

    <form method="post" asp-controller="Account" asp-action="SignOut">
        <input type="submit" value="Выход" />
    </form>
}
